:root {
    --navbarheight: calc(12px + 12vw);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* custom fonts */
@font-face {
    font-family: "Lobster";
    src: url("fonts/Lobster-Regular.ttf") format("truetype");
}
@font-face {
   font-family: "Proxima-Soft";
    src: url("fonts/FontsFree-Net-ProximaSoft-Bold.ttf") format("truetype"); 
}
/*index-body*/
#index-body {
    background-image: url("img/index-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 5fr 3fr;
}
#index-body image {
    max-width: 100%;
    object-fit: contain;
}
/* navbar desktop and tablet*/
.navbar {
    height: var(--navbarheight);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
#logo{
    grid-area: 1/1/3/2;
}
#logo a{    
    display: flex;
    margin-left: 20px;
    padding: 7px 0 7px 0;
}
#logo a img {
    object-fit: contain;
    max-width: calc(20px + 45%);
}
#navbar-buttons {
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: space-around;  
    align-items: center; 
}
#navbar-buttons div a img {    
    object-fit: contain;
    max-width: calc(50px + 40%);
}
#languages {
    grid-area: 2/2/3/3;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
#languages a img {
    width: calc(15px + 3vw);
}
/* mobile navigation bar */
.navbar-mobile {
    height: calc(25px + 15vw);
    display: flex;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;

}
#logo-mobile a img{
    margin: 7px;
    max-width: calc(10px + 20%);
    min-width: 50px;
}
#navbar-mobile-right {
    min-width: 150px;
    margin-top: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
}
#languages-mobile {
    grid-area: 1/1/2/2; 
}
#languages-mobile a {
    display: flex;  
    justify-content: flex-end;
}
#languages-mobile a img {
    max-width: calc(20px + 20%);
}
#burger-menu {
    grid-area: 1/2/2/3;
    margin-right: 7px;
    display: flex;
    justify-content: flex-end;
    font-size: calc(20px + 1.5vw); 
    color: #9E9E9E;   
}
#navbar-mobile-buttons {
    grid-area: 2/1/3/3;    
    position: absolute;
    z-index: 1;
    top: calc(30px + 20%);
    right: 0;
}
#navbar-mobile-buttons li a {  
    text-decoration: none;
    color: black;  
    margin-left: 10px;  
    font-size: calc(11px + 2vw);
    font-family: "Proxima-Soft";  
}
#navbar-mobile-buttons li {
    min-width: calc(120px + 5vw);
    border-top: 1px solid #E7E7E7;  
    border-right: 1px solid #E7E7E7;
    border-left: 1px solid #E7E7E7;
    min-height: 45px;  
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    opacity: 0.6;
}
#blog-mobile {
    border-bottom: 1px solid #E7E7E7;
}
.button {
    list-style: none;
    color: black;
}
/*index content*/
#content {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 10px;    
}
#about-us-text p {   
    width: 50vw;
    font-size: calc(5px + 2vw);
    display: flex;
    text-align: center;
    background-color: #F0ECEC;
    padding: 5px;
    border-radius: 10px;
}
/*footer*/
.footer-mobile {
    background-color: #F0ECEC;
    opacity: 0.8;    
    font-family: "Proxima-Soft";
    display: grid;
    grid-template-rows: 2fr 3fr;
    padding-left: calc(10px + 1vw);
}
#footer-credits {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;    
}
#designed-by {
    display: flex;
    align-items: flex-end;
}
#tomas {
    display: flex;
    align-items: center;
}
#year {
    display:flex;
    align-items: center;
}
#footer-cooperation {
    display: grid;
    grid-template-rows: 1.5fr 2.5fr;
}
#marcia {
    display: flex;
    align-items: center;     
}
#marcia a {    
    color: black;   
}
.footer-mobile h6 {
    font-size: calc(9px + 1vw);
    color: #B6B6B6;
}
.footer-mobile h5 {
    font-size: calc(10px + 1vw);
    color: #B6B6B6;
}
.footer-mobile h4 {
    font-size: calc(12px + 1vw);
}
.footer-mobile h2{
    font-size: calc(14px + 1vw);
}
#footer-socialize {
    display: grid;
}
#footer-socialize a {
    text-decoration: none;
    color: black;
}
#social-links {
    display: flex;
    justify-content: space-around;
}
/*responsive screen sizes*/
@media (max-width: 480px) {
    .navbar {
        display: none;
    }
}
@media (min-width: 481px) {
    .navbar-mobile{
        display: none;
    }
}