/* navbar desktop and tablet*/
.navbar {
    height: var(--navbarheight);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
#logo{
    grid-area: 1/1/3/2;
}
#logo a{    
    display: flex;
    margin-left: 20px;
    padding: 7px 0 7px 0;
}
#logo a img {
    object-fit: contain;
    max-width: calc(20px + 45%);
}
#navbar-buttons {
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: space-around;  
    align-items: center; 
}
#navbar-buttons div a img {    
    object-fit: contain;
    max-width: calc(50px + 40%);
}
#languages {
    grid-area: 2/2/3/3;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
#languages a img {
    width: calc(15px + 3vw);
}
/* mobile navigation bar */
.navbar-mobile {
    height: calc(25px + 15vw);
    display: flex;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
#logo-mobile a img{
    margin: 7px;
    max-width: calc(10px + 20%);
    min-width: 50px;
}
#navbar-mobile-right {
    min-width: 150px;
    margin-top: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
}
#languages-mobile {
    grid-area: 1/1/2/2; 
}
#languages-mobile a {
    display: flex;  
    justify-content: flex-end;
}
#languages-mobile a img {
    max-width: calc(20px + 20%);
}
#burger-menu {
    grid-area: 1/2/2/3;
    margin-right: 7px;
    display: flex;
    justify-content: flex-end;
    font-size: calc(20px + 1.5vw); 
    color: black;   
}
#navbar-mobile-buttons {
    grid-area: 2/1/3/3;    
    position: absolute;
    z-index: 1;
    top: calc(30px + 20%);
    right: 0;
}
#navbar-mobile-buttons li a {  
    text-decoration: none;
    color: black;  
    margin-left: 10px;  
    font-size: calc(11px + 2vw);
    font-family: "Proxima-Soft";  
}
#navbar-mobile-buttons li {
    min-width: calc(120px + 5vw);
    border-top: 1px solid #E7E7E7;  
    border-right: 1px solid #E7E7E7;
    border-left: 1px solid #E7E7E7;
    min-height: 45px;  
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    opacity: 0.6;
}
#blog-mobile {
    border-bottom: 1px solid #E7E7E7;
}
.button {
    list-style: none;
    color: black;
}